

<div class="container">

	<div class="col-sm-6">
		<div> <%= link_to "Menu", menu_path, class: "h1" %> </div>
		

		<%= form_tag(menu_path, :method => "get", id: "search-form") do |f| %>
		<%= hidden_field_tag :section,  @curr_section %>
		<%= select_tag(:sort_id, options_for_select(FoodItem.sort_options), :include_blank => '-Sort by ---') %>
		<%= submit_tag("Search") %>
		<% end %>


		<div class="nav nav-tabs">

			<% @sections.each do |s| %>
			<div class="nav-item " >
				<%= link_to s.name, menu_path(section: s.id), class: "nav-link  #{current_menu?(s.id)} " %>
				
			</div>
			<% end %>	
		</div>

		<% @food_items.each do |f| %>
		<div class="list-group">
			<%= link_to menu_path(section: @curr_section, food_item: f), :class => "list-group-item #{'active' if f.id == @curr_food_item.id}" do %>
			<span class="label label-primary label-pill pull-xs-right">
				<%= toCurrency(f.price)%>
			</span>
			<%= f.name %>			
			<% end %>


		</div>
		<% end %>
	</div>
	<div class="col-sm-6">		
		<fieldset class="form-group form-inline pull-xs-right">
			<%= form_tag(menu_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search food items" %>
			<%= submit_tag "Search", :name => nil %>
			<% end %>
		</fieldset>
		<!-- Food image 
		<%=	 debug @food_items %>
		<%= @curr_food_item.inspect %>
	-->
	<% if @curr_food_item %>
	<div class="card-photo">
		<div class="card-img">
			<img src="<%=  @curr_food_item.get_image_url%>" class="img-fluid" alt="Responsive image">
		</div>
		<div class="card-block">
			<%= @curr_food_item.description %>
		</div>
	</div>

	<p class="lead">
	<%= form_for [@order, @order_item], remote: true, :authenticity_token => true do |o| %>			
		<div class="input-group">
			<div class="input-group-btn">
				<%= o.hidden_field :food_item_id, value: @curr_food_item.id %>
				<%= o.hidden_field :quantity, value: 1 %>
				<%= o.submit "Add to Cart", class: "btn btn-primary" %>
			</div>
		</div>
		<% end %>
	</p>
	<% end %>
</div>
</div>

<p class="lead">
	<%= link_to 'New Food Item', nil, class:"btn btn-primary" %>
</p>

