<%= form_for(@food_item) do |f| %>
<% if @food_item.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food item from being saved:</h2>

	<ul>
		<% @food_item.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>


<div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item">

			<div class="field">
				<%= f.label :name %><br>
				<%= f.text_field :name %>
			</div>
		</li>
		<li class="list-group-item">

			<div class="field">
				<%= f.label :description %><br>
				<%= f.text_area :description %>
			</div>
		</li>
		<li class="list-group-item">

			<div class="field">
				<%= f.label :price %><br>
				<%= f.text_field :price %>
			</div>
		</li>

		<li class="list-group-item">

			<div class="field">
				<%= f.label :section %><br>
				<%= f.text_field :section %>
			</div>
		</li>

		<li class="list-group-item">

			<div class="field">
				<%= f.label :image_url %><br>
				<%= f.text_field :image_url %>
			</div>
		</li>
	</ul>
</div>
<% end %>
