
<div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item">

			<div class="field">
				<%= label_tag :name %><br>
				<%= label_tag customer.name %>
			</div>
		</li>
		<li class="list-group-item">

			<div class="field">
				<%= label_tag :address %><br>
				<%= label_tag customer.address %>
			</div>
		</li>
		<li class="list-group-item">

			<div class="field">
				<%= label_tag :phone_number %><br>
				<%= label_tag customer.phone_number %>
			</div>
		</li>

		<li class="list-group-item">

			<div class="field">
				<%= label_tag :email %><br>
				<%= label_tag customer.email %>
			</div>
		</li>
	</ul>
</div>