<%= render 'shared/error', locals: {items: [customer]} %>

<div>

  <table class="table">
    <tbody>
    <tr>
      <td><smal><%= label_tag :name %></smal></td>
      <td><%= customer.name %></td>
    </tr>
    <tr>
      <td><%= label_tag :address %></td>
      <td><%= customer.address %></td>
    </tr>
    <tr>
      <td><%= label_tag :phone_number %></td>
      <td><%= customer.phone_number %></td>
    </tr>
    <tr>
      <td><%= label_tag :email %></td>
      <td><%= customer.email %></td>
    </tr>
    </tbody>
  </table>
</div>